<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.impulse.impulse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_impulse_icon"
        android:label="@string/app_name"
        android:logo="@drawable/impulse_logo"
        android:theme="@style/CustomActionBarTheme" >

        <receiver
            android:name="com.impulse.impulse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service android:name="com.impulse.impulse.GcmIntentService" />

        <activity
            android:name="com.impulse.impulse.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name="com.facebook.LoginActivity" />

        <activity
            android:name="com.impulse.impulse.CameraActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.impulse.impulse.FullScreenActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.impulse.impulse.CreatePostActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.impulse.impulse.DrawerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.impulse.impulse.LoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_loading"
            android:theme="@style/FullscreenTheme"/>

    </application>

</manifest>